blinker==1.9.0
boto3==1.42.39
botocore==1.42.39
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.1.8
colorama==0.4.6
cors==1.0.1
cryptography==46.0.4
filelock==3.19.1
Flask==3.1.2
future==1.0.0
gevent==25.9.1
google-api-core==2.29.0
google-api-python-client==2.188.0
google-auth==2.48.0
google-auth-httplib2==0.3.0
google-auth-oauthlib==1.2.4
googleapis-common-protos==1.72.0
greenlet==3.2.4
httplib2==0.31.2
idna==3.11
importlib_metadata==8.7.1
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.1.0
MarkupSafe==3.0.3
oauthlib==3.3.1
pillow==11.3.0
proto-plus==1.27.0
protobuf==6.33.5
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==2.23
pyparsing==3.3.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
requests==2.32.5
requests-file==3.0.1
requests-oauthlib==2.0.0
rsa==4.9.1
s3transfer==0.16.0
six==1.17.0
tldextract==5.3.0
typing_extensions==4.15.0
uritemplate==4.2.0
urllib3==1.26.20
Werkzeug==3.1.5
zipp==3.23.0
zope.event==6.0
zope.interface==8.0.1
